USE [AdventureWorks2017]
GO

CREATE TABLE [dbo].[MyBarcodes](
	[ID] [nchar](10) NULL,
	[IMAGE_CODE] [nchar](4) NULL,
	[BARCODE_IMAGE] [varbinary](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
